@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}

main{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    border: 1px dashed blue;
}

section.tela-task{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
    width: 550px;
    border: 1px dashed red;
    margin-top: 50px;
}

div.titulo > h1{
    font-size: 3.8rem;
    font-family: "Bebas Neue", sans-serif;
}

div.input-button{
    display: flex;
    gap: 10px;
    
}

div.input-button > input{
    padding: 8px;
    font-size: 1rem;
}

div.input-button > input#txtinput{
    width: 360px;
}

div.input-button > input#botao-add{
    width: 90px;
    cursor: pointer;
}

div.tasks{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 508px;
    font-size: 1.3rem;
    background-color: bisque;
    padding-left: 10px;
    border-radius: 8px;
}

div.tasks > input#botao-del{
    padding: 10px;
    width: 50px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 1.3rem;
}



