@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    
}

:root{
    
    /* Fundo geral da página */
    --fundo-principal: #9DBEBB;

    /* Caixa principal / cards */
    --cor-caixa: #77ACA2;

    /* Botões principais */
    --cor-botao: #468189;
    --cor-botao-hover: #5B9AA3;
    --cor-texto-botao-hover: #D6E7E5;

    /* Texto */
    --texto-principal: #031926;
    --texto-secundario: #244B5A;
    --cor-texto-fonte: #F4E9CD;

    /* Input */
    --cor-input: #B8D3D1;

    /* Botão excluir */
    --cor-delete: #9B2226;
    --cor-delete-hover: #BB3E03;

    /* Bordas e sombras */
    --cor-borda: rgba(3, 25, 38, 0.2);
    --sombra-caixa: rgba(0, 0, 0, 0.25);

}

body{
    background-color: var(--fundo-principal);
}

main{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}

section.tela-task{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
    width: 650px;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 0px 0px 15px var(--sombra-caixa);
    border-radius: 10px;
    transition: transform 0.3s;
}

section.tela-task:hover{
    transform: scale(1.01);
}

div.titulo{
    width: 100%;
    text-align: center;
}

div.titulo > h1{
    font-size: 4rem;
    font-family: "Bebas Neue", sans-serif;
    color: var(--texto-principal);
}

div.input-button{
    display: flex;
    gap: 10px;
    width: 100%;
}

div.input-button > input{
    padding: 14px;
    font-size: 1rem;
}

div.input-button > input#txtinput{
    flex: 4;
    background-color: var(--cor-input);
    color: var(--texto-secundario);
    border: 2px solid var(--cor-borda);
    border-radius: 8px;
    
}

div.input-button > input#txtinput::placeholder{
    color: var(--texto-secundario);
}

div.input-button > input#txtinput:focus{
    outline: none;
}

div.input-button > input#botao-add{
    flex: 1;
    cursor: pointer;
    background-color: var(--cor-botao);
    color: var(--cor-texto-fonte);
    border: none;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.5s, color 0.5s;
}

div.input-button > input#botao-add:hover{
    background-color: var(--cor-botao-hover);
    color: var(--cor-texto-botao-hover);
}


div.tasks{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 1.3rem;
    background-color: var(--cor-caixa);
    border-radius: 8px;
    padding: 5px;
    box-shadow: 0px 0px 10px var(--sombra-caixa);
}

div.tasks > div.texto-task{
    padding-left: 10px;
    color: var(--texto-principal);
}


div.tasks > button.botao-del{
    padding: 10px;
    width: 50px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    color: var(--cor-delete);
    transition: color 0.5s;
}

div.tasks > button.botao-del:hover{
    color: var(--cor-delete-hover);
}

@media screen and (max-width: 650px) {
    section.tela-task{
        margin: 50px;
        
    }
}


