@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    
}

:root{
    --texto-principal: #031926;
    --fundo-principal: #9DBEBB;
    --cor-botao: #468189;
    --cor-caixa: #77ACA2;
    --cor-texto-fonte: #F4E9CD; 

}

body{
    background-color: var(--fundo-principal);
}

main{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    border: 1px dashed blue;
}

section.tela-task{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
    width: 650px;
    border: 1px dashed red;
    margin-top: 50px;
}

div.titulo{
    width: 100%;
    text-align: center;
}

div.titulo > h1{
    font-size: 4rem;
    font-family: "Bebas Neue", sans-serif;
    color: var(--texto-principal);
}

div.input-button{
    display: flex;
    gap: 10px;
    width: 100%;
}

div.input-button > input{
    padding: 12px;
    font-size: 1rem;
}

div.input-button > input#txtinput{
    flex: 4;
    background-color: var(--cor-caixa);
    color: var(--cor-texto-fonte);
    border: 2px solid var(--texto-principal);
    border-radius: 8px;
    
}

div.input-button > input#txtinput::placeholder{
    color: var(--cor-texto-fonte);
}

div.input-button > input#txtinput:focus{
    outline: none;
}

div.input-button > input#botao-add{
    flex: 1;
    cursor: pointer;
    background-color: var(--cor-botao);
    color: var(--cor-texto-fonte);
    border: none;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.5s, color 0.5s;
}

div.input-button > input#botao-add:hover{
    background-color: var(--cor-caixa);
    color: var(--texto-principal);
}

div.tasks{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 1.3rem;
    background-color: var(--cor-caixa);
    border-radius: 8px;
    padding: 5px;
}

div.tasks > div.texto-task{
    padding-left: 10px;
    color: var(--cor-texto-fonte);
}

div.tasks > button.botao-del{
    padding: 10px;
    width: 50px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    color: #590d22;
    transition: color 0.5s;
}

div.tasks > button.botao-del:hover{
    color: #c9184a;
}



